.btn {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    user-select: none;

    padding: .5rem 1rem;
    border-radius: 4px;
    transition: all .2s ease;
    font-size: 14px;

    // Color -----------------------
    &-brand {
        background: $color-brand;
        color: #fff;

        &:hover {
            background: $color-brand-hovered;
        }

        &:active {
            background: $color-brand-active;
        }
    }

    &-brand {
        background: $color-brand;
        color: #fff;

        &:hover {
            background: $color-brand-hovered;
        }

        &:active {
            background: $color-brand-active;
        }
    }

    &-success {
        background: $color-success;
        color: #fff;

        &:hover {
            background: lighten($color-success, 3%);
        }

        &:active {
            background: darken($color-success, 8%);
        }
    }

    &-warning {
        background: $color-warning;
        color: #fff;

        &:hover {
            background: lighten($color-warning, 3%);
        }

        &:active {
            background: darken($color-warning, 8%);
        }
    }

    &-error {
        background: $color-error;
        color: #fff;

        &:hover {
            background: lighten($color-error, 3%);
        }

        &:active {
            background: darken($color-error, 8%);
        }
    }

    &-secondary {
        background: $color-secondary;
        color: #fff;

        &:hover {
            background: lighten($color-secondary, 3%);
        }

        &:active {
            background: darken($color-secondary, 8%);
        }
    }

    // Size ----------------------
    &-sm {
        font-size: 12px;
        padding: 0.375rem 0.75rem;
    }

    &-lg {
        font-size: 16px;
        padding: 0.65rem 1.15rem;
    }

    & span, & i {
        vertical-align: middle;
    }

    & i {
        margin-right: .2rem;
    }
}