.card {
    background: $card-black-background;
    border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: $box-shadow;
    border-radius: .2857rem;
    min-height: 200px;

    &-header {
        border-radius: .2232rem .2232rem 0 0;
        padding: 15px 15px 0;
    }

    &-body {
        padding: 15px;
    }

    &__category {
        font-size: .75rem;
        font-weight: 300;
        color: #9a9a9a;
        margin-bottom: 5px;
    }

    &__title {
        color: #fff;
        font-size: 1.6875rem;
        font-weight: 100;
    }
}